@font-face {
  font-family: "DanaYad";
  src: url("../../fonts/DanaYad.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GveretLevin";
  src: url("../../fonts/GveretLevin.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

.font-danayad {
  font-family: "DanaYad", sans-serif;
}

.font-gveretlevin {
  font-family: "GveretLevin", sans-serif;
}
